// Color 등 여러 변수 저장해놓기

/* Media Query */
$desktop: 768px;
$mobile: 767px;

/* Color */
$black: #000000;
$white: #fffafa;
$off-white: #fafafa;
$grey: #808080;
$dark-grey: #666666;
$background: #e7e7e7;
$line: #cdcdcd;
$error: #f5626c;
$success: #3973e6;
$beer: #ffed99;
$slogan: #38558d;
$slogan2: #cf7df5;
$kakao: #feea0d;
$cu_bg: #782b90;
$cu: #8cc63f;
$seven11: #009944;
$gs25: #0070bb;
$emart24: #f4ad25;
