.buy-modal-container {
  width: 100%;
  min-height: 25%;
  position: absolute;
  bottom: 0;
  background: $white;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop {
    width: 40%;
    left: 30%;
  }

  .buy-modal-product-name {
    padding-top: 2%;
    text-align: center;
    @include font-default(500, 1.2rem);
  }

  .buy-modal-info,
  .buy-modal-btns,
  .buy-modal-quantity {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .buy-modal-info {
    .buy-modal-info-left,
    .buy-modal-info-right {
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding: 1%;
    }
    .buy-modal-origin-price {
      color: $light-grey;
    }

    .buy-modal-sale-price {
      @include font-default(500, 1rem);
      color: $error;
    }
  }

  .buy-modal-quantity {
    .buy-modal-quantity-left {
      display: flex;
      justify-content: space-between;
      width: 50%;
      align-items: center;
      padding: 1%;

      .buy-modal-quantity-box {
        border: 1px solid $light-grey;
        box-sizing: border-box;
        width: 40%;
        display: flex;
        justify-content: space-between;
        input {
          text-align: center;
          max-width: 30%;
        }

        button {
          background: $white;
          border: none;
          cursor: pointer;
        }
      }
    }

    .buy-modal-profit {
      align-self: center;
      color: $success;
    }
  }

  .buy-modal-btns {
    width: 100%;
    padding: 2%;
    border-top: 1px solid $light-grey;
    justify-content: space-around;
  }
}
