.item-container {
  margin: 0 auto;
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include desktop {
    flex-direction: row;
    align-items: center;
  }
  .item-image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;

    img {
      width: 25em;
      border-radius: 28px;

      @include mobile {
        width: 100%;
        max-height: 14em;
      }
    }
  }

  .item-content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    background-color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;

    @include desktop {
      width: 25em;
      height: 50%;
    }

    .item-label {
      margin: 0.5rem;
    }

    .item-title {
      @include font-default(700, 1.3rem);
    }

    .item-sale-percent {
      @include font-default(600, 1.2rem);
    }

    .item-sale-price,
    .item-sale-percent {
      color: $error;
    }

    .item-info {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .item-price {
        @include font-default(600, 1rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}

.bag-button-container {
  height: 10%;
  border-top: 1px solid $black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  button {
    background-color: $success;
    color: $white;
    height: 80%;
    width: 70%;
    @include font-default(500, 1.2rem);
  }
}

.mybag-toast {
  position: absolute;
  top: 92%;
  left: 50%;
  z-index: 100;
  width: 80%;
  height: 3%;
  padding: 3% 0;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  color: $white;
  @include font-default(500, 1rem);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: slide-up 0.3s;
  transition: all 0.4s ease;
}

@keyframes slide-up {
  from {
    transform: translate(-50%, -20%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
