.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: $beer;
  .logo-container,
  .slogan-container,
  .enter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slogan-container {
    width: 75%;
    @include font-default(500, 1rem);
    span {
      color: $slogan;
      line-height: 3rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    border-top: 3px solid $slogan;
    border-bottom: 3px solid $slogan;
  }
  .logo-container {
    width: 100%;
    img {
      max-width: 50%;
    }
    span {
      @include font-default(700, 1.5rem);
      color: $slogan2;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .enter-container {
    max-width: 40%;
    img {
      width: 100%;
    }
  }
}
