.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $beer;

  .logo-container {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      max-width: 80%;
    }

    span {
      @include font-default(700m, 2rem);
      color: $slogan;
      line-height: 3rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;
    }
  }

  .login-btn-container {
    width: 260px;
  }

  .g-sign2,
  #kakao-login-btn,
  .kep-login-facebook {
    width: 100%;
    height: 50px;
    margin: 0.2rem;
  }

  #kakao-login-btn {
    display: flex;
    justify-content: space-evenly;
    background-color: $kakao;
    align-self: center;
    vertical-align: middle;
    img {
      max-width: 100%;
      align-self: center;
    }
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include font-default(500, 1.1rem);
    }
  }

  .g-sign2 {
    background-color: $white;
    display: inline-flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    @include font-default(500, 1rem);

    .g-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1.3rem;
      .g-text {
        margin: 0;
        padding-left: 1rem;
      }
    }
  }

  span {
    button {
      @include font-default(500, 1.1rem);
      // padding: 0;
      line-height: 1.1rem;
      .fa {
        padding-right: 1rem;
        font-size: 1.2rem;
      }
    }
  }

  .login-footer-descreption {
    margin-top: 3rem;
  }
}
