.product-info-mart {
  @include font-default(400, 0.7rem);
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  width: 3rem;
  height: 1.2rem;
  text-align: center;
  border-radius: 1rem;
  color: $black;
}
.product-info-mart-cu {
  background-color: $cu_bg;
  color: $cu;
}
.product-info-mart-seven11 {
  background-color: $seven11;
  color: $white;
}
.product-info-mart-gs25 {
  background-color: $gs25;
  color: $white;
}
.product-info-mart-emart24 {
  background-color: $emart24;
}
