.my-bag-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  .my-bag-product-list-container-container {
    height: 100%;
    @include desktop {
      .my-bag-product-list-container {
        display: grid;
        margin: 0 auto;
        height: 100%;
        grid-template-columns: repeat(auto-fill, 12rem);
        justify-content: space-evenly;
        width: calc(100% - 2rem);
        gap: 1rem;
        padding: 1rem;
      }
    }
  }

  &,
  span {
    @include font-default(400, 0.8rem);
  }
}

.MuiGrid-root .MuiAppBar-root {
  z-index: 1;
}

.MuiTabs-scroller .PrivateTabIndicator-root-1 {
  height: 4px;
}
