.my-bag-container {
  display: flex;
  overflow: scroll;
  width: 100%;
  flex-direction: column;

  .product-info-container {
    width: 55%;
  }

  button {
    width: 23%;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: $background;
    border: 0;
    margin: 0;
    border-radius: 4px;
  }

  .product-state-info-container {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 21%;

    .product-state-info {
      color: $success;
    }
  }

  &,
  span,
  .product-state-info-container {
    @include font-default(400, 0.8rem);
  }
}

.MuiGrid-root .MuiAppBar-root {
  z-index: 1;
}

.MuiTabs-scroller .PrivateTabIndicator-root-1 {
  height: 4px;
}
