.my-info-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;

  .MuiCard-root {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .MuiCardHeader-avatar {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    .MuiAvatar-root {
      width: 13rem;
      height: 13rem;
      margin: 0 auto;
    }

    .MuiCardContent-root,
    .MuiCardHeader-root {
      padding: 0;
    }

    .MuiCardActions-root {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    p,
    span,
    a {
      @include font-default(400, 1.1rem);
    }
  }

  .withdraw-btn {
    background-color: #e63939;
    color: snow;
    @include font-default(500, 1.1rem);
  }
}
