.product-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid $line;
  @include desktop {
    flex-direction: column;
    width: 12rem;
    height: 18rem;
    border: 2px solid $line;
  }
}

.product-image-container {
  @include mobile {
    display: flex;
    width: 20%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 5rem;
    }
  }
  @include desktop {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      max-height: 10em;
    }
    border-bottom: 2px solid $line;
  }
}

.product-info-container {
  @include mobile {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 0 0.5rem;

    .product-info-price-name-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80%;
      height: 100%;
    }

    .product-info-name {
      height: 1rem;
      overflow: hidden;
      line-height: 1;
    }
  }
  @include desktop {
    width: calc(100% - 0.8rem);
    height: calc(100% - 0.8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.4rem;

    .product-info-price-name-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }
  }
}

.product-info-price-container {
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    color: $error;
    @include font-default(400, 1rem);
    del {
      @include font-default(400, 0.8rem);
      color: $success;
      @include desktop {
        margin-left: 0.2rem;
      }
    }
  }
}
.product-search-result-container {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  margin-top: 0.75rem;
}
.product-search-result {
  margin: 0 0 0 1rem;
  @include font-default(400, 1.2rem);
}
.MuiGrid-root {
  .MuiPaper-root {
    box-shadow: 0 -4px 0 0 $line inset;
  }
  .MuiAppBar-colorPrimary {
    background-color: $background;
    color: $black;
  }
  .PrivateTabIndicator-colorSecondary-7 {
    height: 4px;
    //background-color: $black;
  }
  .MuiTabs-root {
    min-height: 2.5rem;
  }
  .MuiTab-root {
    min-width: 3rem;
    min-height: 2.5rem;
    line-height: 0;
    padding: 0 0.5rem 0 0.5rem;
    @include font-default(400);
  }
}

.wish-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23%;

  .wish-btn {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid $line;
    border-radius: 2px;
  }

  .buy-btn {
    color: $success;
  }

  .delete-btn {
    color: $error;
  }
}
