.content-search {
  width: 90%;
  display: flex;
  align-items: center;

  .MuiFormControl-root {
    height: 2.5rem;
    width: 100%;
    padding: 0.3rem 0.3rem 0.3rem 0;

    .MuiInputBase-root {
      height: 100%;
      border: none;
    }
  }

  label {
    padding-left: 0;
  }

  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    img {
      height: 30px;
      cursor: pointer;
    }
  }

  @include desktop {
    gap: 10px;
    .MuiOutlinedInput-root,
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $off-white;
    }
    .MuiOutlinedInput-root:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: $off-white;
      }
    }
    .MuiOutlinedInput-root.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $off-white;
      }
    }
    .MuiFormLabel-root {
      color: $off-white;
    }
    .MuiFormLabel-root.Mui-focused {
      color: $off-white;
    }

    .MuiInputLabel-formControl {
      transform: translate(0, 24px) scale(1);
    }

    .search-btn {
      background-color: $background;
      border: 1px solid $off-white;
      border-radius: 10px;
      width: 60px;
      transition: all 0.1s ease-in-out;
      img {
        height: 25px;
      }
      &:hover {
        background-color: $off-white;
      }
    }
  }

  @include mobile {
    .MuiOutlinedInput-root,
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $grey;
    }
    .MuiOutlinedInput-root.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $dark-grey;
      }
    }
    .MuiFormLabel-root {
      color: $grey;
    }
    .MuiFormLabel-root.Mui-focused {
      color: $dark-grey;
    }
  }
}

.content-search-border-grey {
  @include desktop {
    .MuiOutlinedInput-root,
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $line;
    }
    .MuiOutlinedInput-root:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: $line;
      }
    }
    .MuiOutlinedInput-root.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $line;
      }
    }
    .MuiFormLabel-root {
      color: $line;
    }
    .MuiFormLabel-root.Mui-focused {
      color: $line;
    }

    .search-btn {
      background-color: $background;
      border: 1px solid $line;
      border-radius: 10px;
      width: 60px;
      transition: all 0.1s ease-in-out;
      img {
        height: 25px;
      }
      &:hover {
        background-color: $line;
      }
    }
  }
}
