.side-modal-btn {
  @include mobile {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    background-color: $background;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* temp, if icon have, delete this */
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    z-index: 7;
  }

  @include desktop {
    position: fixed;
    top: 50%;
    left: calc(2.25rem);
    transform: translate(-50%, -50%);
    width: 4.5rem;
    height: 4.5rem;
    background-color: none;
    border-radius: 5px;

    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    z-index: 7;
    cursor: pointer;
    transition: left 0.5s ease-out;

    svg.MuiSvgIcon-root {
      width: 100%;
      height: 100%;
      filter: invert(46%) sepia(3%) saturate(0%) hue-rotate(282deg)
        brightness(83%) contrast(86%); // $dark-grey
      transition: filter 0.2s ease-in-out;
    }

    &:hover {
      svg.MuiSvgIcon-root {
        filter: invert(0%) sepia(2%) saturate(5%) hue-rotate(105deg)
          brightness(105%) contrast(100%); // $black
      }
    }
  }
}

.side-modal-btn-open {
  @include desktop {
    left: calc(1rem + 1rem + 20vw);
  }
}
