.sidemenu-container.sidemenu-hide {
  @include mobile {
    display: none;
  }
  @include desktop {
    transform: translateX(-20vw);
    min-width: 0;
    width: 0;
    padding-left: 0;
    * {
      display: none;
    }
  }
}

.sidemenu-container {
  display: flex;
  height: calc(100% - 5rem);
  flex-direction: column;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
  a,
  div {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    @include mobile {
      color: $white;
    }

    @include desktop {
      color: $black;
    }
  }

  @include mobile {
    position: absolute;
    z-index: 5;
    background-color: $black;
    width: calc(100% - 1rem); // 1rem: padding
    height: 100%;
    opacity: 0.8;
    padding: 0 0 0 1rem;
    color: $white;

    .logo {
      display: none;
    }

    .sidemenu-nav {
      text-align: right;
      margin-right: 5vw;
    }

    .sidemenu-foot {
      padding-left: 0rem;
    }
  }

  @include desktop {
    min-width: 20vw;
    padding: 5rem 0 0 2rem;
    transition: all 0.5s ease-out;
  }

  .logo {
    margin-bottom: 2rem;
    img {
      width: 12rem;
    }
  }

  .sidemenu-nav {
    flex: 6;
    a,
    div {
      font-size: 30px;
    }
  }

  .sidemenu-foot {
    flex: 1;
    a,
    p {
      font-size: 20px;
    }
  }

  .sidemenu-nav,
  .sidemenu-foot {
    a,
    p,
    div {
      font-weight: 700;
    }
  }
}
