.sidemenu-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 1rem;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
  a,
  div {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    @include mobile {
      color: $white;
    }

    @include desktop {
      color: $black;
    }
  }

  @include mobile {
    position: absolute;
    z-index: 5;
    background-color: $black;
    width: calc(100% - 1rem); // 1rem: padding
    height: 100%;
    opacity: 0.8;
    color: $white;

    .logo {
      display: none;
    }

    .sidemenu-nav {
      text-align: right;
      margin-right: 5vw;
    }

    .sidemenu-foot {
      padding-left: 0rem;
    }
  }

  @include desktop {
    min-width: 20vw;
  }

  .logo {
    font-size: 2.4em;
    flex: 1;
    padding-top: 2rem;
  }

  .sidemenu-nav {
    flex: 6;
    a,
    div {
      font-size: 30px;
    }
  }

  .sidemenu-foot {
    flex: 1;
    a,
    p {
      font-size: 20px;
    }
  }

  .sidemenu-nav,
  .sidemenu-foot {
    a,
    p,
    div {
      font-weight: 700;
    }
  }
}
