.sidemenu-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1rem;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
  min-width: 300px;

  @include mobile {
    position: absolute;
    z-index: 3;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: snow;

    .logo {
      display: none;
    }

    .sidemenu-nav {
      text-align: right;
      margin-right: 10vw;
    }

    .sidemenu-foot {
      padding-left: 0rem;
    }
  }

  .logo {
    font-size: 2.4em;
    flex: 1;
    padding-top: 2rem;
  }

  .sidemenu-nav {
    flex: 6;
    a,
    div {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      margin-top: 1.5rem;

      @include mobile {
        color: snow;
      }

      @include desktop {
        color: black;
      }
    }
  }

  .sidemenu-foot {
    flex: 1;
    p {
      font-size: 20px;
    }
  }

  .sidemenu-nav,
  .sidemenu-foot {
    a,
    p,
    div {
      font-weight: 700;
    }
  }
}
