// Layout scss

// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/headerLogo";
@import "./components/sideMenu";
@import "./components/sideMenuBtn";
@import "./components/logoutToast";

a {
  text-decoration: none;
  color: $black;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

#wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 3.5;
}

.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  @include mobile {
    background-color: $background;
    height: calc(var(--vh, 1vh) * 100); // mobile 환경에서 하단 영역 크기 계산
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include desktop {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    z-index: 5;
  }
  .MuiGrid-root {
    width: 100%;
  }
}

.back-button {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background-color: #f0f1f3;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  cursor: pointer;

  img {
    display: block;
    margin: auto;
    transform: translateY(50%);
    max-width: 50%;
  }

  @include desktop {
    display: none;
  }
}
