// Login page scss

// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/myBag";

.tab-price-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  padding-bottom: 0.3rem;

  .tab-description {
    @include font-default(400, 0.8rem);
    color: gray;
  }

  .tab-price {
    @include font-default(400, 1rem);
    color: #f5626c;
  }
}

.MuiAppBar-root {
  z-index: 1;
  .MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around;
  }
}

.bag-description {
  @include font-default(400, 0.8rem);
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;

  img {
    max-width: 5.5%;
    padding-right: 0.5rem;
  }
}
