// Login page scss

// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/myBag";
@import "./components/sortbar";
@import "./components/buyModal";
@import "./components/myBagProduct";
@import "./components/noData";

.MuiAppBar-root {
  z-index: 1;
  .MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around;
  }
}

.bag-description {
  @include font-default(400, 0.8rem);
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  .gear {
    padding-right: 0.5rem;
  }

  @include desktop {
    display: none;
  }
}
