// Login page scss

// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/product";
@import "./components/martLabel";

.product-list-container {
  display: flex;
  overflow-y: scroll;
  width: 100%;
  flex-direction: column;
  @include desktop {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 1rem;
  }
}

.product-list-container-container {
  position: relative;
  @include desktop {
    width: 100%;
    height: 75%;
  }
  @include mobile {
    display: flex;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
  }
}
