// Product List page scss

// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/product";
@import "./components/martLabel";

.product-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  @include desktop {
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 2rem);
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
  }
}

.product-list-container {
  @include desktop {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $grey;
      border-radius: 0.5rem;
      &:hover {
        background-color: $dark-grey;
      }
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
  }
  @include mobile {
    overflow-y: scroll;
  }
}

.product-list-container-container {
  @include desktop {
    position: relative;
    overflow: hidden;
    margin-top: -1rem; // negative margin
    height: 100%;
  }
  @include mobile {
    position: relative;
    display: flex;
    overflow-y: hidden;
    width: 100%;
    flex-direction: column;
  }
}
