// Login page scss

// default scss
@import './base/base';
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/product";
@import "./components/martLabel";

.product-list-container {
    display: flex;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}