// Login page scss

// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./components/detail";
@import "./components/martLabel";

.product-detail-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
